
<ng-include src=" 'views/navigation.html' "></ng-include>

<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Bus Operations</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	
	<div class="row">
	
		<div class="col-sm-3 col-sm-5">
			<div class="panel panel-green" >
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-flag fa-2x"></i>
						</div>
						<div class="col-xs-9 text-right">                                    
							<div class="huge">Arrive</div>
						</div>
					</div>
				</div>
				<a href="#!/arrival">
					<div class="panel-footer">
						<span class="pull-left">Record Arrivals</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-sm-3 col-sm-5">
			<div class="panel panel-yellow">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-tasks fa-2x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">Assess</div>                                    
						</div>
					</div>
				</div>
				<a href="#!/assessment">
					<div class="panel-footer">
						<span class="pull-left">Compute Fees</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-sm-3 col-sm-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-money fa-2x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">Collect</div>
						</div>
					</div>
				</div>
				<a href="#!/bus_payment">
					<div class="panel-footer">
						<span class="pull-left">Record Payments</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-sm-3 col-sm-5">
			<div class="panel panel-green">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-thumbs-o-up fa-2x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">Approve</div>                                    
						</div>
					</div>
				</div>
				<a href="#!/approve">
					<div class="panel-footer">
						<span class="pull-left">Review & Approval</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-sm-3 col-sm-5">
			<div class="panel panel-red">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-flag-checkered fa-2x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">Depart</div>                                    
						</div>
					</div>
				</div>
				<a href="#!/departure">
					<div class="panel-footer">
						<span class="pull-left">Record Departures</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-sm-3 col-sm-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-3">
							<i class="fa fa-truck fa-2x"></i>
						</div>
						<div class="col-xs-9 text-right">
							<div class="huge">Bus</div>                                    
						</div>
					</div>
				</div>
				<a href="#!/vehicle">
					<div class="panel-footer">
						<span class="pull-left">Vehicle Registry</span>
						<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
						<div class="clearfix"></div>
					</div>
				</a>
			</div>
		</div>
		
		
	</div>
	<!-- /.row -->


</div>
